<div class="row">
  <div class="col-6">
    <app-dona
      [title]="'Ventas'"
      [data]="doughnutChartData1"
      [labels]="doughnutChartLabels1"
      [type]="doughnutChartType">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Compras'"
      [data]="doughnutChartData2"
      [labels]="doughnutChartLabels2"
      [type]="doughnutChartType">
    </app-dona>
  </div>

</div>

<div class="row">

  <div class="col-6">
    <app-dona
      [title]="'Tareas'"
      [data]="doughnutChartData3"
      [labels]="doughnutChartLabels3"
      [type]="doughnutChartType">
    </app-dona>
  </div>

  <div class="col-6">
    <app-dona
      [title]="'Cursos'"
      [data]="doughnutChartData4"
      [labels]="doughnutChartLabels4"
      [type]="doughnutChartType">
    </app-dona>
  </div>

</div>
